/* ////////////////////////////////// */
/* GLOBALS */
/* ////////////////////////////////// */
:root {
	--editColor: rgb(97, 97, 97);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(174, 174, 174);
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Bubblegum Sans', cursive;
	overflow: hidden;
	font-size: 16px;
}

/* ////////////////////////////////// */
/* USER BAR */
/* ////////////////////////////////// */

#userBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 4rem;
	background-color: rgb(114, 114, 114);
	color: white;
	border-bottom: 2px solid black;
	font-size: 1.5rem;
	z-index: 9999;
}

label {
	margin-right: 0.5rem;
}

#userBar .inputUserBar {
	width: 12rem;
}

#createUserButton {
	padding: 0.2rem;
}

/* ////////////////////////////////// */
/* MAIN */
/* ////////////////////////////////// */
#main {
	display: flex;
	flex-direction: row;
	height: 100%;
	background-color: #ffffff;
}

/* ////////////////////////////////// */
/* SIDEBAR */
/* ////////////////////////////////// */
#sideBar {
	width: 13rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-right: 2px solid black;
	background-color: rgb(174, 174, 174);
	z-index: 9999;
}

#stickyIcon {
	width: 8rem;
	margin-top: 2rem;
	/* TODO: cursor: move; */
	cursor: pointer;
	margin-bottom: 1rem;
}

#stickyNoteAndCaption {
	margin-bottom: 4rem;
	text-align: center;
}

#dragStickyIcon {
	height: 60px;
	width: 60px;
	background-image: url('img/fff15b.png');
	background-size: contain;
	position: absolute;
	display: none;
	z-index: 8888;
}

#CRUD {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.sideBarButton {
	width: 8rem;
	height: 2.5rem;
	margin-top: 0.8rem;
	border: none;
	border-radius: 3px;
}

#saveBoardButton {
	background-color: rgb(144, 242, 241);
}

#saveBoardButton:mouse {
}
#aboutIcon {
	width: 3rem;
	cursor: pointer;
	margin-bottom: 1.5rem;
}
/* ////////////////////////////////// */
/* STICKY BOARD */
/* ////////////////////////////////// */

/* Sticky Board background grid: */
/* ADAPTED FROM: */
/* https://codepen.io/jasonadelia/pen/DeYMoy?editors=1100 */
#stickyBoard {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: linear-gradient(
			0deg,
			transparent 24%,
			rgba(0, 0, 0, 0.2) 25%,
			rgba(0, 0, 0, 0.2) 26%,
			transparent 27%,
			transparent 74%,
			rgba(0, 0, 0, 0.2) 75%,
			rgba(0, 0, 0, 0.2) 76%,
			transparent 77%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 24%,
			rgba(0, 0, 0, 0.2) 25%,
			rgba(0, 0, 0, 0.2) 26%,
			transparent 27%,
			transparent 74%,
			rgba(0, 0, 0, 0.2) 75%,
			rgba(0, 0, 0, 0.2) 76%,
			transparent 77%,
			transparent
		);
	background-size: 20px 20px;
}

#stickyBoard h1 {
	font-size: 3rem;
	margin-top: 2rem;
	margin-left: 2rem;
}

.note {
	font-size: 0.7rem;
	font-family: 'Courier New', Courier, monospace;
	position: absolute;
	max-width: 150px;
	width: 150px;
	max-height: 150px;
	height: 150px;
	opacity: 1;
	background-size: contain;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 0.3rem;
	padding-top: 0.1rem;
}

.note.drag {
	/* box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.5); */
}

.deleteDiv {
	height: 1.5rem;
	text-align: right;
	padding-right: 0.3rem;
}

.deleteDiv span {
	cursor: pointer;
	font-size: 1.1rem;
}

.noteText {
	width: 100%;
	height: 100%;
}

#underNoteBoxShadow {
	width: 100px;
	height: 100px;
	background-color: blue;
	box-shadow: 3px 6px 24px 30px rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 1;
	top: -300px;
	left: -300px;
}

#statusField {
	color: rgb(0, 66, 0);
	font-family: 'Courier New', Courier, monospace;
	position: absolute;
	font-size: 0.75rem;
	bottom: 1rem;
	left: 190px;
	z-index: 999;
}
/* ////////////////////////////////// */
/* NOTE EDITOR */
/* ////////////////////////////////// */
#editOverlay {
	background-color: rgba(151, 151, 151, 0.8);
	height: 100vh;
	width: 100%;
	position: fixed;
	display: none;
	z-index: 9999;
}

#editWindow {
	width: 25rem;
	height: 25rem;
	background-color: var(--editColor);
	border: 2px solid white;
	border-radius: 5%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}

#textInput {
	height: 15rem;
	max-height: 15rem;
	width: 15rem;
	margin-top: 1rem;
	padding: 2.5rem;
}

textarea {
	height: 100%;
	width: 100%;
	resize: none;
	/* hides scrollbar */
	overflow: hidden;
	border: 2px solid white;
}

#colorSelector {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* border: 1px solid black; */
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 15rem;
	margin-top: 1rem;
}

#zfff15b {
	background-color: #fff15b;
}
#zabff5b {
	background-color: #abff5b;
}
#zffac5b {
	background-color: #ffac5b;
}
#zff5b5b {
	background-color: #ff5b5b;
}
#z5bffe3 {
	background-color: #5bffe3;
}
#zff5bfe {
	background-color: #ff5bfe;
}

.colorBox {
	height: 1.3rem;
	width: 1.3rem;
}

.colorBoxBorder {
	border: 3px solid var(--editColor);
	padding: 0.3rem;
}

.activeColorBox {
	border: 3px solid white;
}

#editButtons {
	width: 25rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.editButton {
	width: 6rem;
	height: 2.5rem;
}
#closeEditButton {
	margin-right: 1rem;
}
